html{
}

body{
    width: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: black;
}

#mask{
    pointer-events: none;
    z-index: 50;
    position:fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, rgba(0,0,0,1), rgba(0,0,0,0.3), rgba(0,0,0,0.3), rgba(0, 0, 0, 1));
}

a{
    text-decoration: none;
    font-family: 'Metal Mania', cursive;
}
/*Header*/
header{
    border-top: 2px dashed #5D5047;
    background: url('../img/skin.png') repeat-x ;
    width: 100%;
    text-align: center;
}

.logo{
    text-shadow: 2px 2px 0px #434343,
                 -2px -2px 0px #434343;
    font-size: 90px;
    color: #251803;
}

#lineBar{
    margin: auto;
    border-top: 2px dashed #5D5047;
    width: 40%;
}

/* Context menu */
.bar{
    font-size: 35px;
    text-transform: uppercase;
    margin: 5px;
    margin-bottom: 120px;
}

.bar:hover{
    cursor: default;
}

.bar_link{
    color: #7d7267;
    text-shadow: 1px 1px 0px #636363,
                 -1px -1px 0px #636363;
    display: inline-block;
    vertical-align: top;
    padding: 3px;
    margin: 5px;
    margin-bottom: 20px;
}

.bar_link:hover{
    cursor: default;
    outline: 2px dashed #5D5047;
}
/* End --Context menu-- */
/* End --Header-- */

/* Content */
/* Resume */
.resume p{
    text-align: center;
    color: #b8b8b8;
}
#myName{
    font-size: 36px;
    border-bottom: 2px dashed #5D5047;
}
/* End --Resume-- */
.content{
    display: flex;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
}

.project{
    word-wrap: break-word;
    z-index: 1;
    margin: 40px 20px;
    padding-top: 10px;
    width: 250px;
    height: 380px;
    color: #fff;
    text-align: center;
    outline: 4px dashed #5D5047;
    transition: all 0.3s ease;
    font-family: Arial, Helvetica, sans-serif;
}

.project:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: all 0.3s ease;
}

.line_img{
    margin: 5px auto;
    width: 170px;
    outline: 1px dashed #5D5047;
}

.nameProject{
    font-size: 20px;
}

.descProject{
    word-wrap: break-word;
    font-size: 16px;
}

.img_table{
}
/* End --Content-- */

/* Footer */
footer{
    width: 80%;
    margin: 0 auto;
    padding-top: 20px
}

/* End --Footer-- */

::-webkit-scrollbar { width: 0px; height: 0px;}
/* ::-webkit-scrollbar-button {  background-color: #666; }
::-webkit-scrollbar-track {  background-color: #999;}
::-webkit-scrollbar-track-piece { background-color: #ffffff;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #999;}}
::-webkit-resizer { background-color: #666;} */

::selection { background: transparent; }
::-moz-selection { background: transparent; }
::-o-selection { background: transparent; }
::-webkit-selection { background: transparent; }
