html{
    overflow-x:hidden;
}

body{
    min-height:100vh;
    width: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(to top left, #edca2b, #e24be0);
}

.content{
    font-family: 'Balsamiq Sans', cursive;
}

a{
    text-decoration: none;
}
a:hover{
    cursor: pointer;
}

header{
    width: 100%;
    text-align: center;
}

#menu_bar{
    padding: 5px;
    width: 100%;
    border-bottom: 2px solid #eaeaea;
}

.menu{
    padding: 5px;
    margin: 10px;
    opacity: 0.9;
    color: white;
    font-size: 30px;
    transition: all 0.5s ease-out;
}

.menu:hover{
    color: #d0d0d0;
}

#name{
    padding-top: 40px;
    margin: 20px auto;
    font-size: 70px;
    width: 80%;
    text-shadow: 1px 1px 0px #d0d0d0, -1px -1px 0px #d0d0d0;
    opacity: 0.9;
    color: white;
    border-bottom: 2px dashed white;
}
#clas{
    margin: 0 auto;
    font-size: 50px;
    width: auto;
    text-shadow: 1px 1px 0px #d0d0d0, -1px -1px 0px #d0d0d0;
    opacity: 0.8;
    color: white;
}
