body {
    margin: 0;
    padding: 0;
    background-color: #2B2729;
}


.bar{
    font-size: 16px;
    text-transform: uppercase;
}

.bar_link{
    display: inline-block;
    vertical-align: top;
    color: #AE4181;
    text-decoration: none;
}

.bar_link:hover{
    color: #A3CD4C;
}
