body{
    width: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: black;
}

#mask{
    pointer-events: none;
    z-index: 50;
    position:fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, rgba(0,0,0,1), rgba(0,0,0,0.3), rgba(0,0,0,0.3), rgba(0, 0, 0, 1));
}

a{
    text-decoration: none;
    font-family: 'Metal Mania', cursive;
}
/*Header*/
header{
    border-top: 2px dashed #5D5047;
    background: url('../img/skin.png') repeat-x ;
    width: 100%;
    text-align: center;
}

.logo{
    text-shadow: 2px 2px 0px #434343,
                 -2px -2px 0px #434343;
    font-size: 90px;
    color: #251803;
}

#lineBar{
    margin: auto;
    border-top: 2px dashed #5D5047;
    width: 40%;
}

/* Context menu */
.bar{
    font-size: 35px;
    text-transform: uppercase;
    margin: 5px;
    margin-bottom: 120px;
}

.bar:hover{
    cursor: default;
}

.bar_link{
    color: #7d7267;
    text-shadow: 1px 1px 0px #636363,
                 -1px -1px 0px #636363;
    display: inline-block;
    vertical-align: top;
    padding: 3px;
    margin: 5px;
    margin-bottom: 20px;
}

.bar_link:hover{
    cursor: default;
    outline: 2px dashed #5D5047;
}
/* End --Context menu-- */
/* End --Header-- */

/* Content */
.content{
    width: 100%;
}

.table{
    width: 80%;
    margin: 0 auto;
}

.project{
    float: left;
    padding-top: 10px;
    background-size: 250px 350px;
    width: 250px;
    height: 350px;
    color: #fff;
    margin: 20px;
    text-align: center;
    outline: 3px dashed #5D5047;
}
.project:hover{

}
/* End --Content-- */
